.full-cart-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
    margin-right: 25%;
}

.order-summary {
    position: fixed;
    margin-left: 75%;
    margin-top: 2.5%;
    /* top:7%; */
    width: 20%; /* Sabit bir genişlik */
    height: auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    z-index: 1000;
}
.top-normal {
    top: 9%;
}
.top-small {
    top: 0%;
}
.order-summary h3 {
    font-weight: 600;
    display: flex;
    margin-top: 2%;
    font-size: 18px;
    color: #333;
    margin-bottom: 15px;
}
.order-summary div {
    border-top: 1px solid #ccc; /* Çizgi stilini kesik çizgi yap */
    margin: 10px 0;
}

.order-summary p span{
    font-weight: 700;
}

.order-summary p {
    display: flex;
    justify-content: space-between; /* İçerikleri sağa ve sola yasla */
    margin-bottom: 10px;
}

.order-summary .summary-item {
    display: flex;
    justify-content: space-between; /* Elemanları kutunun sağına ve soluna yasla */
    margin-bottom: 10px; /* Elemanlar arası boşluk */
    font-size: 16px; /* Metin boyutunu ayarla */
    color: #666; /* Metin rengini açık gri yap */
}

.order-summary .summary-total {
    font-size: 20px;
    font-weight: bold; /* Toplam tutarı kalın yazı tipiyle belirt */
    border-top: 1px solid #ccc; /* Üstüne çizgi çek */
    padding-top: 10px; /* Çizgi ile yazı arasında boşluk bırak */
    margin-top: 10px; /* Önceki elemandan boşluk bırak */
}

.checkout-buttons:hover {
    background-color: #e68a00;
}

/* Medya sorgusu: Ekran genişliği 768px ve altı için stil */
@media (max-width: 1120px) {
    .full-cart-container {
        flex-direction: column; /* Yatay yerine dikey düzen */
    }

    .order-summary {
        position: relative; /* Sabit konumdan göreli konuma geçiş */
        margin-top: 4%; /* Üstteki sepet öğelerinden biraz boşluk */
        margin-left: 3px;
        width: 94%; /* Konteyner genişliğini tamamen kullanır */
        height: auto; /* İçerik boyutuna göre yükseklik ayarlar */
    }
}

.cart-item {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px; /* Köşeleri daha fazla ovalleştirir */
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Hafif bir gölge ekler */
}
.item-body img {
    width: 90px;
    height: 90px;
    margin-left: 9px;
    margin-right: 10px;
    border-radius: 4px;
    object-fit: contain; /* Resmi orantılı bir şekilde küçült */
}
.seller-link {
    text-decoration: none;
    font-weight: bold;
    text-transform: uppercase;
    color: black;
}
.cart-header {
    text-align: start;
    padding: 10px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #ccc;
    border-top-left-radius: 8px; /* Üst sol köşeyi ovalleştirir */
    border-top-right-radius: 8px; /* Üst sağ köşeyi ovalleştirir */
}

.item-body {
    display: flex;
    flex-direction: row; 
    text-align: left;
    padding: 10px;
    border-bottom: 1px solid #ccc; /* Ürünler arasına çizgi ekler */
    margin-bottom: 10px; /* Çizginin altında boşluk bırakır */
}
.item-count {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  
.item-count p {
    margin-left: 20px; /* İkon ile metin arasında boşluk */
    color: #333;
    font-size: 20px;
    font-weight: 500; /* Yazı tipi kalınlığı */
    font-family: 'Arial', sans-serif; /* Modern bir yazı tipi */
}

/* Son ürünün altına çizgi gelmemesi için */
.item-body:last-child {
    border-bottom: none;
}

.product-image {
    width: 100px;
    height: 100px;
    border-radius: 4px; /* Ürün resimlerinin köşeleri oval */
    margin-right: 20px;
}

.item-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex: 1;
    align-items: center; /* İçerikleri dikey olarak ortala */
    margin-top: 10px;
    padding: 0 20px; /* Sağ ve sol padding ekle */
}

.price {
    align-items: center;
    /* margin-left: 40%; */
    display: flex;
    flex-direction: row;
}

.quantity-selector {
    display: flex;
    align-items: center;
    background-color: #f0f0f0;
    border-radius: 20px; /* Miktar seçici köşeleri daha oval */
    padding: 5px;
    /* margin-right: 25%; */
}

.quantity-selector button {
    background-color: transparent;
    border: none;
    color: #333;
    font-size: 16px;
    padding: 5px 12px;
    cursor: pointer;
    transition: color 0.3s ease;
}

.quantity-selector button:hover {
    color: #007bff;
}

.quantity-selector span {
    margin: 0 10px;
    font-size: 16px;
}

.remove-button {
    color: #f44336;
    border: none;
    padding: 5px 10px;
    border-radius: 4px; /* Sil butonunun köşeleri oval */
    cursor: pointer;
}
.checkout-buttons {
    background-color: #ff6600;
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 4px; /* Checkout butonunun köşeleri oval */
    display: block;
    width: max-content;
    margin-top: 10px;
    margin-left: 33%;
}
.basket-text{
    margin-left: 20px;
    font-weight: 400;
    margin-top: 0.5%;
    font-size: 20px;
}
.clear-cart div {
    display: flex;
    align-items: center;
    cursor: pointer; 
}

.clear-cart div span {
    color: #f44336; /* Yazı rengini kırmızı yapar */
    font-size: 14px; /* Yazı boyutunu ayarlar */
}

.clear-cart div svg {
    color: #f44336; /* İkon rengini kırmızı yapar */
    font-size: 24px; /* İkon boyutunu büyütür */
}

.markaLink{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}
.item-details{
    justify-content: space-between; 
    display: flex;
    flex-direction: row;
    flex: 1;
}
