/* .product-page {
    font-family: 'Arial, sans-serif';
  }
  
  .product-container {
    display: flex;
    padding: 20px;
    justify-content: space-between;
  }
  
  .image-carousel-container {
    flex: 1;
  }
  
  .product-details {
    flex: 1;
    padding: 20px;
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
  
  .product-name {
    font-size: 24px;
    font-weight: bold;
  }
  
  .product-brand {
    font-size: 18px;
    color: #666;
    margin-bottom: 10px;
  }
  
  .product-rating {
    margin: 10px 0;
  }
  
  .product-price {
    font-size: 20px;
    color: #003399;
    margin-bottom: 20px;
  }
  
  .add-to-cart-button {
    background-color: #FF6600;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .color-options {
    display: flex;
  }
  
  .color-option {
    border: none;
    width: 40px;
    height: 40px;
    margin-right: 10px;
    cursor: pointer;
  }
  
  .color-option:focus {
    outline: 2px solid #003399;
  }
  .other-sellers {
    margin-top: 20px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  
  .seller {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .seller-rating {
    font-weight: bold;
    color: green;
  }
  
  .seller-shipment {
    color: #666;
  }
  
  .seller-price {
    font-weight: bold;
  }
  
  .add-to-cart-button {
    background-color: #FF6600;
    color: white;
  }
   */