.image-carousel {
  display: flex;
  flex-direction: column; /* Yön dikey olacak */
  align-items: center; /* İçerikleri merkezle */
  justify-content: center; /* İçerikleri dikeyde merkezle */
  padding: 20px; /* İç boşluk */
  border-right: 1px solid #ccc; /* Sağ tarafına çizgi çek */
}

.carousel-caption {
  margin-top: 10px; /* Resimden sonra boşluk */
  font-size: 16px; /* Yazı boyutu */
  color: #666; /* Yazı rengi */
}
.product-details {
  display: flex;
  flex-direction: column; /* İçerikler dikey sıralansın */
  align-items: start; /* İçerikler sol taraftan başlasın */
  padding: 20px; /* İç boşluk */
  margin: 10px; /* Çevresinde boşluk */
}

.product-name {
  font-size: 24px; /* Ürün adı font büyüklüğü */
  margin-bottom: 10px; /* Altına boşluk */
}

.product-price {
  font-size: 20px; /* Fiyat font büyüklüğü */
  color: #333; /* Fiyat rengi */
  margin-bottom: 10px; /* Altına boşluk */
}

.product-rating {
  display: flex;
  align-items: center; /* Yıldızlar ve metin ortalanır */
  margin-bottom: 10px; /* Altına boşluk */
}
